<%= form_for @division do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :division_number %><br />
    <%= f.text_field :division_number %>
  </p>

  <p><%= f.submit %></p>
<% end %>
