  <div id="header" class="global">
  <h2>estimator</h2>

    <div class="navigation">
      <% if logged_in? %>
      <div id="settings_logout">
        <span class="name"><%= current_user.username.capitalize %></span>
        <span class="pipe"> | </span>
        <%= link_to ' My info ', my_info_path(current_user) %>
        <span class="pipe"> | </span>
        <%= link_to ' Log Out ', logout_path %>
      </div>
      <% else %>
        <div id="settings_logout">
          <%= link_to 'Log In', login_path %>
        </div>
      <% end -%>
      </div> <!-- end navbar -->

      <div id="Tabs">
        <ul id="main_tabs">
 
          <li><%= link_to "Home", root_url %></li>
 
          <% if logged_in? %>
            <li class="current"><%= link_to "Dashboard", dashboard_path(current_user)%></li>
          <% end -%>
 
      </ul>
    </div> <!-- end Tabs -->

</div> <!-- end header -->