  <div id="header" class="global">
    <% if logged_in? %>
      <%= link_to content_tag(:h2, "Current Company"), root_url %>
    <% else %>
      <%= link_to content_tag(:h2, "Tract"), root_url %>
    <% end -%>

    <div class="navigation">
      <% if logged_in? %>
      <div id="settings_logout">
        <span class="name"><%= current_user.username.capitalize %></span>
        <span class="pipe"> | </span>
        <%= link_to ' My info ', my_info_path(current_user) %>
        <span class="pipe"> | </span>
        <%= link_to ' Log Out ', logout_path %>
      </div>
      <% else %>
        <div id="settings_logout">
          <%= link_to 'Log In', login_path %>
        </div>
      <% end -%>
      </div> <!-- end navbar -->

      <div id="Tabs">
        <ul id="main_tabs">

          <% if logged_in? %>
            <li class="current"><%= link_to "Dashboard", dashboard_path(current_user)%></li>
            <% if current_project %>
              <li class="current"><%= link_to current_project.name, current_project%></li>
            <% end -%>
          <% else %>
             <li><%= link_to "Home", root_url %></li>
          <% end -%>
 
      </ul>
    </div> <!-- end Tabs -->

</div> <!-- end header -->