<div class="sign_in_form">
<%= form_for @project do |f| %>
  <%= f.error_messages %>
  <h3>New / Edit Project</h3>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.label :contractor %><br />
    <%= f.text_field :contractor %>
  </p>
  <p>
    <%= f.label :bid_date %><br />
    <%= f.date_select :bid_date %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </p>

  <p><%= f.submit %></p>
<% end %>
<p class="small"><%= link_to "dashboard",  dashboard_path(current_user)  %></p>
</div>