<% title "Projects" %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Owner</th>
    <th>Contractor</th>
    <th>Bid Date</th>
    <th>Start Date</th>
    <th>User</th>
  </tr>
  <% for project in @projects %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.address %></td>
      <td><%= project.owner %></td>
      <td><%= project.contractor %></td>
      <td><%= project.bid_date %></td>
      <td><%= project.start_date %></td>
      <td><%= project.user_id %></td>
      <td><%= link_to "Show", project %></td>
      <td><%= link_to "Edit", edit_project_path(project) %></td>
      <td><%= link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Project", new_project_path %></p>
