<div class="project_layout">
<% title "Project" %>

  <div class="project_info">
    <h1 class="page_title"><%= current_project.name %></h1>
    <p>
      <strong>Address:</strong>
      <%= @project.address %>
      <br />
      <strong>Owner:</strong>
      <%= @project.owner %>
      <br />
      <strong>Contractor:</strong>
      <%= @project.contractor %>
      <br />
      <strong>Bid Date:</strong>
      <%= @project.bid_date %>
      <br />
      <strong>Start Date:</strong>
      <%= @project.start_date %>
    </p>
    <div class="small">
      <%= link_to "Edit", edit_project_path(@project), :class=>"small" %> |
      <%= link_to "Delete", @project, :confirm => 'Are you sure?', :method => :delete, :class=>"small" %>
    </div>
  </div>
  <hr>
    <div class="takeoff_list">
      <h3>Current Takeoffs</h3>
      <%= link_to "- New Takeoff -", new_takeoff_path, :class => "small" %>
  
      <% @project.takeoffs.each do |t| %>
        <p>Division <%= t.division %> |
        <%= t.trade %>
        <%= link_to "-Edit-", takeoff_path(t.id), :class => "small" %>
        </p>
      <% end -%>
    </div>
  
</div>