<div class="sign_in_form">
<%= form_for @takeoff do |f| %>
  <%= f.error_messages %>
  <h3>New / Update Takeoff</h3>
  <p>
    <%= f.label :trade %><br />
    <%= f.text_field :trade %>
  </p>
  <p>
    <%= f.label :division %><br />
    <%= f.text_field :division %>
  </p>
  <p><%= f.submit %></p>
<% end %>
  <%= link_to "Cancel", current_project, :class => "small" %>
</div>
