        <div id="material-box"class="content" >
          <h3>Material Totals</h3>
          <% unless  current_takeoff.line_items.empty? %>
            <% @materials.each do |m| %>

                <ul>
                  <% if m.on_center %>
                    <li><%= m.name %> total: <%= calculate_geometry(m.name, m.geometry, @line_items, m.on_center) %></li>
                    <li>&nbsp;Studs:<%=  calculate_geometry(m.name, m.geometry, @line_items, m.on_center, "studs") %></li>
                  <% else %>
                    <li><%= m.name %> total: <%= calculate_geometry(m.name, m.geometry, @line_items) %></li>
                  <% end -%>
                </ul>

          <% end -%>
          <% end -%>
        </div>
      </div>