<% title "Dashboard" %>

<table class="layout">
  <td class="left">
    <h1 class="box_header">My projects:
      <% unless @limit_met == true %>
        <span class="small select"><%= link_to " - Create Project -", new_project_path%></span>
      <% end -%>
     </h1>

      <% @projects.each do |project|%>
        <div class="card">
          <h3 class="list"><%= project.name %><span><%= link_to " - select -",  project, :class => "small"%></span></h3>
          <p class="address">Address: <span class="light"><%= project.address %></span></p>
          <p class="address">General Contractor: <span class="light"><%= project.contractor %></span></p>
          <p class="address">Bid Date: <span class="light"><%= project.bid_date %></span>  -  Start Date: <span class="light"><%= project.start_date %></span></p>
          <p class="small">Project Takoffs: <%= project.takeoffs.length %></p>
        </div>  
      <% end -%>
      
  </td>
  <td class="right">
    <div class="Right">
      <div class="column">
        <div class="content">
          <h3>News</h3>
          <% if @account == "free" %>
          <p>You are using the "Free" account which allows only one project. Upgrade to allow more projects"</p>
          <% elsif @account == "basic" %>
          <p>You are using the "Basic" account which allows 15 projects. You have <%= current_user.projects.count %> active project(s). Upgrade to allow more projects"</p>
          <% elsif @account == "max" %>
          <p>You are subscribed to the "Max" account. You are using <%= current_user.projects.count %> active project(s) with an unlimited limit.</p>
          <% end -%>
        </div>
      </div>
    </div>
  </td>
</table> <!-- end layout -->
      <span class="small left">diligent agility</span>

