<%= form_for @walltype do |f| %>
  <%= f.error_messages %>
  <h3>Create new Wall Type:</h3>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :size => 3 %>
  </p>
  
  
  <% f.fields_for :wall_layers do |builder| %>
    <%= render "wall_layer_fields", :f => builder %>
  <% end %>
  
  <p  class ="small"><%= link_to_add_fields "Add Layer",  f,  :wall_layers %></p>
  <p><%= f.submit "create" %></p>
<% end %>
