<%= form_for @material do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :spec_division %><br />
    <%= f.text_field :spec_division %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p
    <%= f.label :geometry %>
    <%= f.select(:geometry, Geometry.find(:all).collect {|g|
    [g.name, g.name]}, {:prompt => "select (nothing yet)"}) %>
  <p><%= f.submit %></p>
<% end %>
